
<div id="main">
    <div class="period">
        <span>巡检周期</span>
        <ul class="periodBtn">
            <li class="periodActive">天</li>
            <li>周</li>
            <li>月</li>
            <li>季</li>
            <li>年</li>
        </ul>
        <div id="qyq"></div>
        <!--<div class="showpick">-->
            <!--<div class="day showpickdiv">-->
                <!--<span>每</span>-->
                <!--<input type="text" class="choose"/>-->
                <!--<span>天</span>-->
                <!--<i class="fa fa-clock-o"></i>-->
                <!--<input type="text" class="time"/>-->
            <!--</div>-->
            <!--<div class="week showpickdiv">-->
                <!--<span>每</span>-->
                <!--<input type="text" class="choose"/>-->
                <!--<span>个</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd1" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">周一</a></li>-->
                            <!--<li><a href="#">周二</a></li>-->
                            <!--<li><a href="#">周三</a></li>-->
                            <!--<li><a href="#">周四</a></li>-->
                            <!--<li><a href="#">周五</a></li>-->
                            <!--<li><a href="#">周六</a></li>-->
                            <!--<li><a href="#">周日</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<i class="fa fa-clock-o"></i>-->
                <!--<input type="text" class="time"/>-->
            <!--</div>-->
            <!--<div class="month showpickdiv">-->
                <!--<span>每</span>-->
                <!--<input type="text" class="choose"/>-->
                <!--<span>月的第</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd2" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span>个</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd3" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">周一</a></li>-->
                            <!--<li><a href="#">周二</a></li>-->
                            <!--<li><a href="#">周三</a></li>-->
                            <!--<li><a href="#">周四</a></li>-->
                            <!--<li><a href="#">周五</a></li>-->
                            <!--<li><a href="#">周六</a></li>-->
                            <!--<li><a href="#">周日</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<i class="fa fa-clock-o"></i>-->
                <!--<input type="text" class="time"/>-->
            <!--</div>-->
            <!--<div class="season showpickdiv">-->
                <!--<span>每</span>-->
                <!--<input type="text" class="choose"/>-->
                <!--<span>季的第</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd4" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span>月的第</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd5" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span>个</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd6" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">周一</a></li>-->
                            <!--<li><a href="#">周二</a></li>-->
                            <!--<li><a href="#">周三</a></li>-->
                            <!--<li><a href="#">周四</a></li>-->
                            <!--<li><a href="#">周五</a></li>-->
                            <!--<li><a href="#">周六</a></li>-->
                            <!--<li><a href="#">周日</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<i class="fa fa-clock-o"></i>-->
                <!--<input type="text" class="time"/>-->
            <!--</div>-->
            <!--<div class="year showpickdiv">-->
                <!--<span>每</span>-->
                <!--<input type="text" class="choose"/>-->
                <!--<span>年</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd7" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                            <!--<li><a href="#">5</a></li>-->
                            <!--<li><a href="#">6</a></li>-->
                            <!--<li><a href="#">7</a></li>-->
                            <!--<li><a href="#">8</a></li>-->
                            <!--<li><a href="#">9</a></li>-->
                            <!--<li><a href="#">10</a></li>-->
                            <!--<li><a href="#">11</a></li>-->
                            <!--<li><a href="#">12</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span>月的第</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd8" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">1</a></li>-->
                            <!--<li><a href="#">2</a></li>-->
                            <!--<li><a href="#">3</a></li>-->
                            <!--<li><a href="#">4</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<span>个</span>-->
                <!--<div class="wrappersel">-->
                    <!--<div id="dd9" class="wrapper-dropdown-1" tabindex="1">-->
                        <!--<span>请选择</span>-->
                        <!--<ul class="dropdown" tabindex="1">-->
                            <!--<li><a href="#">周一</a></li>-->
                            <!--<li><a href="#">周二</a></li>-->
                            <!--<li><a href="#">周三</a></li>-->
                            <!--<li><a href="#">周四</a></li>-->
                            <!--<li><a href="#">周五</a></li>-->
                            <!--<li><a href="#">周六</a></li>-->
                            <!--<li><a href="#">周日</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<i class="fa fa-clock-o"></i>-->
                <!--<input type="text" class="time"/>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="timechoose">
        <span>时间</span>
        <ul class="timechooseBtn">
            <li class="timechooseActive">本月</li>
            <li>本周</li>
            <li>本季</li>
            <li>本年</li>
        </ul>
        <div class="timearea" >
            <input type="text" class="begin"/>
            <span>至</span>
            <input type="text" class="end"/>
        </div>

    <!--<div class="enableTime">-->
        <!--<div class="Enable">-->
            <!--<span>启用时间</span>-->
            <!--<input type="text" class="enable-begin"/>-->
            <!--<span>至</span>-->
            <!--<input type="text" class="enable-end"/>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="Enable">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="enable-begin"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>至</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="enable-end"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="delIcon"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="addEnable">-->
            <!--<span>增加启用时间段</span>-->
            <!--<div class="addIcon"></div>-->
        <!--</div>-->

    <!--</div>-->
    </div>

    <!--jedate插件----可显示年，年月，年月日，年月日时分秒，时分秒，日期区域，双日期框，无效日期、时间限制等 -->
    jedate插件：<div class="jeinpbox"><input type="text" class="jeinput" id="test01" placeholder="YYYY-MM-DD hh:mm:ss"></div>

<section class="content module1">
    <button class="bugg" id="bugg">获取选中行数据</button>
    <button class="bugg1">跳页</button>
    <button class="importExcel" id="upload" >导入</button>
            <input type="file" name="fileField" class="file" id="fileField" onChange=""/>
            <button class="submit">提交</button>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="mytable" class="table table-bordered table-hover mytable">
                        <thead>
                        <tr>
                            <th>物料编码</th>
                            <th>物料名称</th>
                            <th>库存数量</th>
                            <th>单位</th>
                            <th>标准成本</th>
                            <th>物料类别</th>
                            <th>供应商</th>
                            <th>重要程度</th>
                            <th>采购方式</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="box-body">
                    <table id="mytable2" class="table table-bordered table-hover mytable">
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
</div>
<div id="chart">
    <div class="col-md-6">
        <div class="box box-primary" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
            <div class="box-header with-border">
                <h3 class="box-title">Area Chart</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="csatGauge" >An angular gauge will load here!</div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
        <div class="box-header with-border">
            <h3 class="box-title">Area Chart</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <div id="Gauge">An angular gauge will load here!</div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
            <div class="box-header with-border">
                <h3 class="box-title">Area Chart</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="Map">An angular gauge will load here!</div>
                </div>
            </div>
        </div>
        <div class="box box-primary" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
            <div class="box-header with-border">
                <h3 class="box-title">Area Chart</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
            <div class="chart">
                <div id="fusioncharts">An angular gauge will load here!</div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
            <div class="box-header with-border">
                <h3 class="box-title">Area Chart</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="pieChart">An angular gauge will load here!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary" ondrop="drop(event,this)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event, this)">
            <div class="box-header with-border">
                <h3 class="box-title">Area Chart</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="revenueChart">An angular gauge will load here!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">排班人员</h4>
                    <ul style="list-style: none;margin-bottom: 0px;display: inline;margin-left: 5px;">
                        <li class="role">按角色</li>
                        <li class="organization">按组织</li>
                    </ul>
                </div>
                <div class="box-body">
                    <h4 class="box-title">人员列表</h4>
                    <!-- the events -->
                    <div id="external-events">
                        <div class="external-event bg-green">Alice</div>
                        <div class="external-event bg-yellow">Penny</div>
                        <div class="external-event bg-aqua">Sheldon</div>
                        <div class="external-event bg-light-blue">Raj</div>
                        <div class="external-event bg-red">Howard</div>
                        <div class="external-event bg-purple">John</div>
                        <div class="external-event bg-teal">Cersei</div>
                        <div class="external-event bg-lime">Sansa</div>
                        <div class="external-event bg-fuchsia">Arya</div>
                        <div class="external-event bg-navy">Daenerys </div>
                        <div class="checkbox">
                            <label for="drop-remove">
                                <input type="checkbox" id="drop-remove">
                                remove after drop
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
