
<link href="/resource/plugins/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />

<div class="guide"></div>
<section class="content module1">
    <form id="searchForm"  class="form-horizontal">

    </form>
    <input type="button" class="queryBtn" value="请选择查询条件">
    <ul class="queryInfo"></ul>

    <div class="queryTable hide">
        <!--<form id="searchForm"  class="form-horizontal">-->
            <!--查询条件项和按钮显示区域-->
        <!--</form>-->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <span class="record" id="rowsCount">共0条记录</span>
                    <div class="btnArea" style="float:right"/>
                    <table id="mytable" class="table table-bordered table-hover mytable">
                        <thead>
                        <!--<tr>
                            <th>物料编码</th>
                            <th>物料名称</th>
                            <th>库存数量</th>
                            <th>单位</th>
                            <th>标准成本</th>
                            <th>物料类别</th>
                            <th>重要程度</th>
                            <th>状态</th>
                        </tr>-->
                        </thead>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>