
<link href="/resource/plugins/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />


<section class="content module1">
    <form id="searchForm"  class="form-horizontal">

    </form>
    <input type="button" class="queryBtn" value="请选择查询条件">
    <ul class="queryInfo"></ul>

    <div class="queryTable hide">

    </div>
  <!--  <form action="http://localhost:8081/EAMV2.0/app/appFile/uploadImages" method="post" enctype="multipart/form-data">
        <p>
            Select a file : <input type="file" name="file" size="50" />
        </p>
        <input type="submit" value="Upload It" />
    </form>-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <span class="record" id="rowsCount">共0条记录</span>
                    <div class="btnArea" style="float:right"/>
                    <table id="mytable" class="table table-bordered table-hover mytable">
                        <thead>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>



</section>