<div id="main">
    <div>
        <div class="releaseBody">
            <h1>V2.0.0-17</h1>
            <p>Release Date: 2017-11-17</p>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>保养流程功能开发</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊 , 上传时间2017-11-06 </p>
                        <h4>完成保养流程基本功能的开发</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>巡检流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-11-07
                        </p>
                        <h4>完善巡检任务反馈时多个图片上传和报修功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>巡检流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-11-07
                        </p>
                        <h4>完善巡检任务详情页面信息完善功能和所有模块的弹框修改</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="releaseBody">
            <h1>V2.0.0-14</h1>
            <p>Release Date: 2017-10-21</p>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>故障工单功能开发</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-11-03 </p>
                        <h4>完成故障工单基本流程功能的开发</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="releaseBody">
            <h1>V2.0.0-13</h1>
            <p>Release Date: 2017-10-14</p>
        </div>
        <div class="releaseBody">
            <h1>V2.0.0-12</h1>
            <p>Release Date: 2017-09-30</p>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>排班表功能开发</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-28 </p>
                        <h4>完成排班表，排班类型，排班查询功能的开发</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>物料类别和物料信息导入导出功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：段福举 , 上传时间2017-09-26 </p>
                        <h4>完成物料类别和物料信息导入导出功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊, 上传时间2017-09-25
                        </p>
                        <h4>我的待办中查看任务，将流程跟踪图与任务内容整合至统一个弹出页；流程定义中查看流程图直接点击行内的流程图名称即可</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;;">改进</span>
                    <span>完善标准工作工作流中详情页面功能及回写业务表功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-26 </p>
                        <h4>完善标准工作工作流中详情页面功能及回写业务表功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增标准工作设备下拉树表格渲染</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-26 </p>
                        <h4>新增标准工作设备下拉树表格渲染</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>二级联动效果</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>二级联动效果</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>表单重置</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>表单重置</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>datatable 行内文字过多时显示省略号 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>datatable 行内文字过多时显示省略号 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>datatable 表格文字悬浮提示 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>datatable 表格文字悬浮提示 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>表格内时间控件支持 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>表格内时间控件支持 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>下拉表格树查询功能（待完善）下拉表格树选中事件 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>下拉表格树查询功能（待完善）下拉表格树选中事件 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修复操作向导样式bug </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪 , 上传时间2017-09-29 </p>
                        <h4>修复操作向导样式bug </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修复标准工作校验 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-29 </p>
                        <h4>修复标准工作校验 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修复设备/设备类别/标准工作前端样式 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-29 </p>
                        <h4>修复设备/设备类别/标准工作前端样式 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>输入框下拉树重置显示null的错误 </span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-29 </p>
                        <h4>输入框下拉树重置显示null的错误 </h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>3D图表 图表多样化</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪 , 上传时间2017-09-29 </p>
                        <h4>3D图表 图表多样化</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>工作流tab页 样式调整</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪 , 上传时间2017-09-29 </p>
                        <h4>工作流tab页 样式调整</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="releaseBody">
            <h1>V2.0.0-11</h1>
            <p>Release Date: 2017-09-22</p>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊 , 上传时间2017-09-25 </p>
                        <h4>上传流程定义列表中的流程图查看功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>流程任务节点后置事件获取流程参数</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊, 上传时间2017-09-25
                        </p>
                        <h4>将原来需要添加serviceTask节点的处理方式，改为在当前任务节点上添加后置或前置事件</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>排班表排班录入功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-22 </p>
                        <h4>排班表排班录入功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改日期控件</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-22
                        </p>
                        <h4>修改日期控件，type为time时只显示时分，type为date时只显示日期，type为dateTime时显示日期+时间</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增ligerGrid表格demo</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-22 </p>
                        <h4>新增ligerGrid表格demo，完善表格一级联动，二级联动的方法，并新增表格内下拉框和日期选择</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增表格下拉树的demo</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-22 </p>
                        <h4>新增表格下拉树的demo</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增总览页面</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也，秦宇琪 , 上传时间2017-09-22 </p>
                        <h4>新增总览页面，只显示图表</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改ligerUI默认下拉框为select2插件</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-22
                        </p>
                        <h4>修改ligerUI默认下拉框为select2插件，满足下拉搜索的条件。(表单内引用下拉框是type为select，表单内引用
                            下拉框type为selectGrid)</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改demo页查询</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪, 上传时间2017-09-22
                        </p>
                        <h4>修改demo页查询条件左对齐，点击查询收起，并且显示查询条件详情</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改datatable样式页码</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪, 上传时间2017-09-22
                        </p>
                        <h4>修改datatable样式页码</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改input多选，样式超过div问题</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪, 上传时间2017-09-22
                        </p>
                        <h4>修改input多选，样式超过div问题</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>角色设置样式进行了统一修改</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪, 上传时间2017-09-22
                        </p>
                        <h4>角色设置样式进行了统一修改</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>完善ligerForm原型getData方法</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-22
                        </p>
                        <h4>完善ligerForm原型getData方法，使得可以正确取得select2下拉框的值</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>整合head.jsp引用的js，css</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-22
                        </p>
                        <h4>整合head.jsp引用的js，css，解决插件方法及样式冲突问题</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改了guide悬浮</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪, 上传时间2017-09-22
                        </p>
                        <h4>修改了guide悬浮</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>优化收缩树点击样式，新增图标</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪 , 上传时间2017-09-22 </p>
                        <h4>优化收缩树点击样式，新增图标</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增标准工作明细复杂表单新增/修改/详情功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-23 </p>
                        <h4>新增标准工作明细复杂表单新增/修改/详情功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增标准工作导出功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-23 </p>
                        <h4>新增标准工作导出功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>修改设备类别/设备信息模块的下拉框等样式及连带功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-09-23
                        </p>
                        <h4>修改设备类别/设备信息模块的下拉框等样式及连带功能</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="releaseBody">
            <h1>V2.0.0-10</h1>
            <p>Release Date: 2017-09-15</p>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊 , 上传时间2017-09-20
                        </p>
                        <h4>新增工作流我的已办任务列表</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊 , 上传时间2017-09-20
                        </p>
                        <h4>1、模型管理中，将参与者用户和组的选择方式由文本输入改为下拉选择。2、修改流程参与者ID存储方式，原来为数据库主键，现修改为用户登录名。3、流程编辑器部分按钮功能优化、多余按钮删除</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>表格分页显示[10,15,30,100]</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-14 </p>
                        <h4>表格分页显示[10,15,30,100]</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>表格新增首页末页按钮</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也 , 上传时间2017-09-14 </p>
                        <h4>表格新增首页末页按钮</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>ligerUI下拉框替换成带搜索的select2下拉框</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也、秦宇琪 , 上传时间2017-09-14 </p>
                        <h4>ligerUI下拉框替换成带搜索的select2下拉框</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>表单分模块显示</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-14 </p>
                        <h4>表单分模块显示</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>表单渲染表格</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-14 </p>
                        <h4>表单渲染表格</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>排版日历模板添加</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：秦宇琪、祁也, 上传时间2017-09-14 </p>
                        <h4>排版日历模板添加</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>时间，日期控件修改</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也、秦宇琪, 上传时间2017-09-14 </p>
                        <h4>时间，日期控件修改</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>标准库模块添加，表格增删数据</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：祁也, 上传时间2017-09-14 </p>
                        <h4>标准库模块添加，表格增删数据</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>补充完善设备信息的空间信息功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-09-14
                        </p>
                        <h4>补充完善设备信息的空间信息功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span class="spanLabel" style="background-color: #cc317c;">问题</span>
                    <span>修改设备信息和设备类别相关页面的样式问题</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-09-14
                        </p>
                        <h4>修改设备信息和设备类别相关页面的样式问题</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增标准工作基本功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-09-14
                        </p>
                        <h4>新增标准工作基本功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增标准工作简单审批工作流功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧, 上传时间2017-09-16
                        </p>
                        <h4>新增标准工作的基本的审批工作流功能</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="releaseBody">
            <h1>V2.0.0-9</h1>
            <p>Release Date: 2017-09-08</p>

            <!--<div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span class="spanLabel" style="background-color: #cc317c;">问题</span>
                    <span>添加批量保存菜单排序功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>Opened by think-gem, issue closed on Saturday, June 15, 2013
                        </p>
                        <h4>添加批量保存菜单排序功能</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>系统缓存调成，减少cms与sys模块的耦合。</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>Opened by think-gem, issue closed on Thursday, May 2, 2013
                        </p>
                        <h4>系统缓存调成，减少cms与sys模块的耦合。</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>登录3次错误后，输入验证码</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>Opened by thinkgem, issue closed on Sunday, May 19, 2013
                        </p>
                        <h4>登录3次错误后，输入验证码</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #fc2929;">缺陷</span>
                    <span>BaseDaoImpl 中获取page总条数时， DB2 等数据库 select count() 时不能有排序条件(order by)</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>Opened by songlai, issue closed on Monday, April 1, 2013
                        </p>
                        <h4> BaseDaoImpl 中获取page总条数时， DB2 等数据库 select count() 时不能有排序条件(order by)</h4>
                    </div>
                </div>
            </div>-->

            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>1.新增获取设备信息的对外接口。2.完善设备信息新增/编辑功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-08-31 </p>

                        <h4>对外接口新引入jar包，下载代码之后要更新下载下jar包</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增设备类别和设备信息导出功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-05 </p>

                        <h4>设备类别和设备信息全量导出和选中导出功能提交</h4>
                    </div>
                </div>
            </div>

            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>新增二维码配置，文件管理，附件上传持久化接口功能</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-05 </p>

                        <h4>二维码配置，文件管理，附件上传持久化接口功能提交</h4>
                    </div>
                </div>
            </div>

            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #fc2929;">缺陷</span>
                    <span>启动时初始化导入导出配置以来spring报未加载依赖错误</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-05
                        </p>
                        <h4>修改启动顺序，优先启动spring容器</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>客户信息删除前提示信息</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：段福举 , 上传时间2017-09-06
                        </p>
                        <h4>客户信息增加layer二次判断是否删除</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #84b6eb;">改进</span>
                    <span>优化设备类别和设备信息新增，修改代码。</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-07
                        </p>
                        <h4>调用后台接口均改为公共方式，并捕获异常。</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>设备信息详情页面</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：吴俊慧 , 上传时间2017-09-07
                        </p>
                        <h4>新增设备信息的详情页面</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>工单派单方式配置页面</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-07
                        </p>
                        <h4>新增工单派单方式配置页面</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>巡检派单方式配置页面</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-08
                        </p>
                        <h4>新增巡检派单方式配置页面</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>保养派单方式配置页面</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-08
                        </p>
                        <h4>新增保养派单方式配置页面</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>统计级别配置页面</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：王金龙 , 上传时间2017-09-11
                        </p>
                        <h4>新增统计级别配置页面</h4>
                    </div>
                </div>
            </div>
            <div class="contitle">
                <div class="contentb">
                    <span class="spanLabel" style="background-color: #0b02e1;">新增</span>
                    <span>流程管理</span>
                </div>
                <div class="toggle">
                    <div class="slideDiv">
                        <p>作者：曹昊 , 上传时间2017-09-12
                        </p>
                        <h4>新增工作流相关页面和接口（模型创建、部署、导入；我的待办列表；流程启动、签收、反签收、审批；运行中流程图节点及数据跟踪；归档流程全生命周期数据跟踪）</h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>