<link href="/resource/plugins/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<div class="guide"></div>
<section class="content module1">
    <input type="file" name="fileField" class="file" id="fileField" onChange=""/>
    <form id="searchForm"  class="form-horizontal">

    </form>
    <input type="button" class="queryBtn" value="请选择查询条件">
    <ul class="queryInfo"></ul>
    <div class="queryTable hide"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <span class="record" id="rowsCount">共0条记录</span>
                    <div class="btnArea" style="float:right"/>
                    <table id="mytable" class="table table-bordered table-hover mytable">
                        <thead>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>