<section class="content actmodellist">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <span class="record" id="rowsCount">共0条记录</span>
                    <div class="btnArea" style="float:right"/>
                    <table id="mytable" class="table table-bordered table-hover mytable">
                        <thead>
                        <!--<tr>
                            <th>模型标识</th>
                            <th>模型名称</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>版本号</th>
                            <th>操作</th>
                        </tr>-->
                        </thead>
                    </table>
                </div>
                <div class="box-body">
                    <table id="mytable2" class="table table-bordered table-hover mytable2">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>